body {
    font-family:"Courier New", Courier, monospace;
    margin: 60px auto;
    width: 70%;
    background-color:  #FBF4A7;
}
nav ul, footer ul {
    font-family:"Courier New", Courier, monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #112731;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:"Courier New", Courier, monospace;
}
p {
    font-size: 1em;
    font-family:"Courier New", Courier, monospace;
    line-height: 1.4em;
    letter-spacing: -2px;
    color: #112731;
}
footer {
    border-top: 1px solid #4D5A51;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
