<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			    <!-- Stuff for jsarr tag  -->

				    {% for js in page.jsarr %}
				      <script type="text/javascript">
					 {% include {{ js }} %}
				      </script>
				    {% endfor %}

				    <!-- End Stuff for jsarr tag  -->
			
		</head>
	
		
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ashleyajohn22@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ashleyajohn">github</a></li>
				<li><a href="https://www.linkedin.com/in/ashley-john-a41ba9a4/">linkedin</a></li>

				</ul>
			</footer>
		</body>
	</html>

